build
src/main/generate
out
testCompile
.gradle
.idea
*.ipr
*.iws
*.iml
*.class
gradle.properties
classes
.directory
test.*
.classpath
.project
.settings
bin
.gradletasknamecache
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.buildpath
.target
